/******************************************************************/
/** Local fonts */
  /* ==================== (A) CASLON ANTIQUE ==================== */
  @font-face {
    font-family: "CaslonAntique";
    src: url('../fonts/CaslonAntique.ttf');
  }
  @font-face {
    font-family: "Nolde";
    src: url('../fonts/Nolde.ttf');
  }
  @font-face {
    font-family: "Western";
    src: url('../fonts/Western.ttf');
  }
  @font-face {
    font-family: "RyeRegular";
    src: url('../fonts/ryeregular.ttf');
  }
  @font-face {
    font-family: "SnowWrite";
    src: url('../fonts/SnowWrite.woff');
  }
  @font-face {
    font-family: "CaslonAntique";
    src: url('../fonts/CaslonAntique-Bold.ttf');
    font-weight: bold;
  }

  /* ==================== (B) ADOBE CASLON PRO ================== */
  @font-face {
    font-family: "CaslonPro";
    src: url('../fonts/ACaslonPro-Regular.otf');
  }
  @font-face {
    font-family: "CaslonPro";
    src: url('../fonts/ACaslonPro-Bold.otf');
    font-weight: bold;
  }

  
/******************************************************************/
  :root {
    --window-header-title-font-family: SnowWrite;
    --window-header-title-font-size: 19px;
    --window-header-title-font-weight: normal;
    --window-header-title-color: #f5f5f5;

    --major-button-font-family: RyeRegular;
    --major-button-font-size: 20px;
    --major-button-font-weight: normal;
    --major-button-color: #dadada;

    --tab-header-font-family: SnowWrite;
    --tab-header-font-size: 16px;
    --tab-header-font-weight: 700;
    --tab-header-color: #403f3e;
    --tab-header-color-active: #4a0404;

    --actor-input-font-family: RyeRegular;
    --actor-input-font-size: 14px;
    --actor-input-font-weight: 500;
    --actor-input-color: black;

    --actor-label-font-family: RyeRegular;
    --actor-label-font-size: 16px;
    --actor-label-font-weight: 700;
    --actor-label-color: #464331c4;
  }

/******************************************************************/
body {
    background: url(parchment.jpg) repeat;
}
#mass-combat.mass-combat .window-content {
  background: url(parchment.jpg) repeat;
}
.sidebar-tab .directory-list .directory-item h4 {
  font-family: var(--actor-input-font-family);  
}  
/******************************************************************/
.swade.sheet.character select {
  font-family: var(--actor-input-font-family);  
}
.swade.sheet.character {
  font-family: var(--actor-input-font-family);
}
.swade.sheet.character .window-content {
  background: url(parchment-texture.png);
}
.swade.sheet.character .sheet-header {
  background: url(parchment-texture.png);
}
.swade.sheet.character .header-stats {
  background: url(parchment-texture.png);
}
.swade.sheet.character .sheet-tabs {
  background: url(parchment-texture.png);
}
.swade.sheet.character .sheet-body {
  background: url(parchment-texture.png);
}
.swade.sheet .tabs .item {
  background: url(parchment.png);  
}
.swade.sheet.character .sheet-header .charline h1 {
  font-family: var(--tab-header-font-family);
  font-weight: bold;
}  
/******************************************************************/
.swade.sheet.item .sheet-header {
  font-family: var(--tab-header-font-family);
}  
.swade.sheet.item .sheet-body {
  font-family: var(--actor-input-font-family);  
}
.swade.sheet.item select {
  font-family: var(--actor-input-font-family);  
}
.swade.sheet.character .tabs .item {
  background: url(parchment-texture.png);
}
.swade.sheet.character .tabs .active {
  border-bottom: 3px solid #293133;
  font-weight: bold;
  color: DarkRed;
}

/******************************************************************/
#sidebar button {
  font-family: var(--major-button-font-family);
}
#navigation #scene-list .scene.nav-item {
  font-family: var(--major-button-font-family);
}

